<div class="row" id="vehicleDetails">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="col-md-6">
          <div class="row">
            <h3>Vehicle:</h3>
            <img [src]="vehicle?.image" [alt]="vehicle.name" class="img-rounded">
          </div>
        </div>
        <div class="col-md-6 details">
          <h3>{{vehicle.name}}</h3>
          <p><b>Passengers:</b> {{vehicle.passengers}}</p>
          <p><b>Vehicle class:</b> {{vehicle.vehicle_class}}</p>
          <p><b>Cargo capacity:</b> {{vehicle.cargo_capacity}}</p>
          <p><b>Max atmosphering speed:</b> {{vehicle.max_atmosphering_speed}}</p>
          <p><b>Crew:</b> {{vehicle.crew}}</p>
          <p><b>Length:</b> {{vehicle.length}}</p>
          <p><b>Model:</b> {{vehicle.model}}</p>
          <p><b>Manufacturer:</b> {{vehicle.manufacturer}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
