<form class="navbar-form navbar-right" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" *ngIf="!loggedIn">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="username" id="username" name="username" ngModel>
    <input type="password" class="form-control" placeholder="password" id="password" name="password" ngModel>
  </div>
  <button type="submit" class="btn btn-default" id="loginBtn">Log in</button>
  <button class="btn btn-default" id="signUpBtn"
          routerLink="register"
          routerLinkActive="register"
          [routerLinkActiveOptions]="{exact: true}">Sign up</button>
</form>

<p class="navbar-form navbar-right" *ngIf="loggedIn">
  <span class="login-text" id="loginMessage">Signed in as {{authService.getUser()}}</span>
  <button (click)="logout()" class="btn btn-default" id="logOutBtn">Logout</button>
</p>
