<div class="form-group">
  <label for="search">Search for character</label>
  <input type="text" class="form-control" id="search" placeholder="Search" [(ngModel)]="term">
</div>
<div class="row" id="characters">
  <div id="character" class="col-sm-4 col-md-3" *ngFor="let character of results | filter:term">
    <div class="thumbnail" highlight [routerLink]="character.id" popup>
      <img [src]="character.image" [alt]="character.name" class="thumbnail">
      <div class="caption">
        <h3>{{character.name}}</h3>
      </div>
    </div>
  </div>
</div>
