<div class="row" id="characterDetails">
    <div class="container" *ngIf="character">
      <div class="row">
        <div class="col-md-6">
          <div class="col-md-6">
            <div class="row">
              <h3>Character:</h3>
              <img [src]="character?.image" [alt]="character?.name" class="img-rounded">
            </div>
            <div class="row">
              <h3>Movies:</h3>
              <div class="list-group"  *ngIf="movies.length>0">
                <a class="list-group-item" *ngFor="let movie of movies"
                   routerLink="/movies/{{movie.id}}">
                  {{movie.title}}
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <h3 id="characterName">{{character.name}}</h3>
            <p><b>Gender:</b> {{character?.gender | gender}}</p>
            <p><b>Skin color:</b> {{character?.skin_color}}</p>
            <p><b>Hair color:</b> {{character?.hair_color}}</p>
            <p><b>Height:</b> {{character?.height}}</p>
            <p><b>Eye color:</b> {{character?.eye_color}}</p>
            <p><b>Mass:</b> {{character?.mass}}</p>
            <p><b>Birth year:</b> {{character?.birth_year}}</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-5" *ngIf="vehicles.length>0">
            <h3>Vehicles:</h3>
            <div class="row">
              <div *ngFor="let vehicle of vehicles">
                <div class="thumbnail" highlight routerLink="/vehicles/{{vehicle.id}}">
                  <img [src]="vehicle.image" [alt]="vehicle.name" class="thumbnail">
                  <div class="caption">
                    <h3>{{vehicle.name}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 pull-right" *ngIf="starships.length>0">
            <h3>Starships:</h3>
            <div class="row">
              <div *ngFor="let starship of starships">
                <div class="thumbnail" highlight routerLink="/starships/{{starship.id}}">
                  <img [src]="starship.image" [alt]="starship.name" class="thumbnail">
                  <div class="caption">
                    <h3>{{starship.name}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
